modules = ["nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["glib", "gtk3", "libnotify", "nss", "xorg.libXScrnSaver", "xorg.libXtst", "xdg-utils", "at-spi2-atk", "mesa", "alsa-lib", "cups", "libdrm", "libxkbcommon", "xorg.libxcb", "xorg.libX11", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXext", "xorg.libXfixes", "xorg.libXrandr", "pango", "cairo", "dbus", "xorg.xorgserver", "imagemagick"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build"

[[workflows.workflow]]
name = "Build"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[workflows.workflow.metadata]
outputType = "console"
